.spacer {
    width: 100px;
}

h2 {
    display: inline-block;
}

.button {
    margin-left: 30px;
}

td, th {
    border: 1px solid #c1b9b9;
    min-width: 50px;
    max-width: 200px;
    max-height: 200px;
    overflow: scroll;
}

td.different {
    background-color: #f7ffdf;
}